Source: ircmatch
Section: python
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 9.20160114),
 dh-python,
 python-all-dev (>= 2.6.6-3~),
 python-setuptools,
 python3-all-dev,
 python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/mammon-ircd/ircmatch
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Vcs-Git: https://github.com/utopia-repository/ircmatch
Vcs-Browser: https://github.com/utopia-repository/ircmatch

Package: python-ircmatch
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Suggests: python-ircmatch-doc
Description: library for matching IRC masks based on atheme (Python 2)
 ircmatch is a Python extension which provides string comparison and matching
 functions from Atheme. They are hand-optimized for high performance when
 matching IRC hostmasks.
 .
 This package installs the extension for Python 2.

Package: python3-ircmatch
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Suggests: python-ircmatch-doc
Description: library for matching IRC masks based on atheme (Python 3)
 ircmatch is a Python extension which provides string comparison and matching
 functions from Atheme. They are hand-optimized for high performance when
 matching IRC hostmasks.
 .
 This package installs the extension for Python 3.
