#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ircmatch

%:
	dh $@  --with python2,python3 --buildsystem=pybuild

override_dh_strip:
	dh_strip --dbgsym-migration='python-ircmatch-dbg (<< 1.2+git20160514+7~0083a41-0utopia2~)'
	dh_strip --dbgsym-migration='python3-ircmatch-dbg (<< 1.2+git20160514+7~0083a41-0utopia2~)'

# get-orig-source rule to fetch the sources from the Git snapshot.
# This looks as the "commithash" portion of the Debian package version, in the
# format majorversion~commithash-1.
PACKAGE = $(shell dpkg-parsechangelog --show-field=Source)
VERSION = $(shell dpkg-parsechangelog --show-field=Version)
ORIG_VERSION = $(shell echo $(VERSION) | cut -f 1 -d '-')
COMMIT = $(shell echo $(ORIG_VERSION) | cut -f 2 -d '~')
URL = https://github.com/mammon-ircd/ircmatch

get-orig-source:
	# Cloning upstream repository.
	git clone $(URL) "$(PACKAGE)-$(ORIG_VERSION)"
	# Generating archive from commit.
	cd "$(PACKAGE)-$(ORIG_VERSION)" && git archive -v $(COMMIT) -o \
	../$(PACKAGE)_$(ORIG_VERSION).orig.tar.gz
	# Removing temporary Git tree.
	rm -rf "$(PACKAGE)-$(ORIG_VERSION)"
